@media (min-width: 0px) {
  .xs-p0 {
    padding: 0rem !important; }
  .xs-p1 {
    padding: 0.5rem !important; }
  .xs-p2 {
    padding: 1rem !important; }
  .xs-p3 {
    padding: 1.5rem !important; }
  .xs-p4 {
    padding: 2rem !important; }
  .xs-p5 {
    padding: 2.5rem !important; }
  .xs-p6 {
    padding: 3rem !important; }
  .xs-p7 {
    padding: 3.5rem !important; }
  .xs-p8 {
    padding: 4rem !important; }
  .xs-p9 {
    padding: 4.5rem !important; }
  .xs-p10 {
    padding: 5rem !important; }
  .xs-p11 {
    padding: 5.5rem !important; }
  .xs-p12 {
    padding: 6rem !important; }
  .xs-p13 {
    padding: 6.5rem !important; }
  .xs-p14 {
    padding: 7rem !important; }
  .xs-p15 {
    padding: 7.5rem !important; }
  .xs-p16 {
    padding: 8rem !important; }
  .xs-p17 {
    padding: 8.5rem !important; }
  .xs-p18 {
    padding: 9rem !important; }
  .xs-p19 {
    padding: 9.5rem !important; }
  .xs-p20 {
    padding: 10rem !important; } }

@media (min-width: 767px) {
  .sm-p0 {
    padding: 0rem !important; }
  .sm-p1 {
    padding: 0.5rem !important; }
  .sm-p2 {
    padding: 1rem !important; }
  .sm-p3 {
    padding: 1.5rem !important; }
  .sm-p4 {
    padding: 2rem !important; }
  .sm-p5 {
    padding: 2.5rem !important; }
  .sm-p6 {
    padding: 3rem !important; }
  .sm-p7 {
    padding: 3.5rem !important; }
  .sm-p8 {
    padding: 4rem !important; }
  .sm-p9 {
    padding: 4.5rem !important; }
  .sm-p10 {
    padding: 5rem !important; }
  .sm-p11 {
    padding: 5.5rem !important; }
  .sm-p12 {
    padding: 6rem !important; }
  .sm-p13 {
    padding: 6.5rem !important; }
  .sm-p14 {
    padding: 7rem !important; }
  .sm-p15 {
    padding: 7.5rem !important; }
  .sm-p16 {
    padding: 8rem !important; }
  .sm-p17 {
    padding: 8.5rem !important; }
  .sm-p18 {
    padding: 9rem !important; }
  .sm-p19 {
    padding: 9.5rem !important; }
  .sm-p20 {
    padding: 10rem !important; } }

@media (min-width: 992px) {
  .md-p0 {
    padding: 0rem !important; }
  .md-p1 {
    padding: 0.5rem !important; }
  .md-p2 {
    padding: 1rem !important; }
  .md-p3 {
    padding: 1.5rem !important; }
  .md-p4 {
    padding: 2rem !important; }
  .md-p5 {
    padding: 2.5rem !important; }
  .md-p6 {
    padding: 3rem !important; }
  .md-p7 {
    padding: 3.5rem !important; }
  .md-p8 {
    padding: 4rem !important; }
  .md-p9 {
    padding: 4.5rem !important; }
  .md-p10 {
    padding: 5rem !important; }
  .md-p11 {
    padding: 5.5rem !important; }
  .md-p12 {
    padding: 6rem !important; }
  .md-p13 {
    padding: 6.5rem !important; }
  .md-p14 {
    padding: 7rem !important; }
  .md-p15 {
    padding: 7.5rem !important; }
  .md-p16 {
    padding: 8rem !important; }
  .md-p17 {
    padding: 8.5rem !important; }
  .md-p18 {
    padding: 9rem !important; }
  .md-p19 {
    padding: 9.5rem !important; }
  .md-p20 {
    padding: 10rem !important; } }

@media (min-width: 1200px) {
  .lg-p0 {
    padding: 0rem !important; }
  .lg-p1 {
    padding: 0.5rem !important; }
  .lg-p2 {
    padding: 1rem !important; }
  .lg-p3 {
    padding: 1.5rem !important; }
  .lg-p4 {
    padding: 2rem !important; }
  .lg-p5 {
    padding: 2.5rem !important; }
  .lg-p6 {
    padding: 3rem !important; }
  .lg-p7 {
    padding: 3.5rem !important; }
  .lg-p8 {
    padding: 4rem !important; }
  .lg-p9 {
    padding: 4.5rem !important; }
  .lg-p10 {
    padding: 5rem !important; }
  .lg-p11 {
    padding: 5.5rem !important; }
  .lg-p12 {
    padding: 6rem !important; }
  .lg-p13 {
    padding: 6.5rem !important; }
  .lg-p14 {
    padding: 7rem !important; }
  .lg-p15 {
    padding: 7.5rem !important; }
  .lg-p16 {
    padding: 8rem !important; }
  .lg-p17 {
    padding: 8.5rem !important; }
  .lg-p18 {
    padding: 9rem !important; }
  .lg-p19 {
    padding: 9.5rem !important; }
  .lg-p20 {
    padding: 10rem !important; } }

@media (min-width: 0px) {
  .xs-pt0 {
    padding-top: 0rem !important; }
  .xs-pr0 {
    padding-right: 0rem !important; }
  .xs-pb0 {
    padding-bottom: 0rem !important; }
  .xs-pl0 {
    padding-left: 0rem !important; }
  .xs-pt1 {
    padding-top: 0.5rem !important; }
  .xs-pr1 {
    padding-right: 0.5rem !important; }
  .xs-pb1 {
    padding-bottom: 0.5rem !important; }
  .xs-pl1 {
    padding-left: 0.5rem !important; }
  .xs-pt2 {
    padding-top: 1rem !important; }
  .xs-pr2 {
    padding-right: 1rem !important; }
  .xs-pb2 {
    padding-bottom: 1rem !important; }
  .xs-pl2 {
    padding-left: 1rem !important; }
  .xs-pt3 {
    padding-top: 1.5rem !important; }
  .xs-pr3 {
    padding-right: 1.5rem !important; }
  .xs-pb3 {
    padding-bottom: 1.5rem !important; }
  .xs-pl3 {
    padding-left: 1.5rem !important; }
  .xs-pt4 {
    padding-top: 2rem !important; }
  .xs-pr4 {
    padding-right: 2rem !important; }
  .xs-pb4 {
    padding-bottom: 2rem !important; }
  .xs-pl4 {
    padding-left: 2rem !important; }
  .xs-pt5 {
    padding-top: 2.5rem !important; }
  .xs-pr5 {
    padding-right: 2.5rem !important; }
  .xs-pb5 {
    padding-bottom: 2.5rem !important; }
  .xs-pl5 {
    padding-left: 2.5rem !important; }
  .xs-pt6 {
    padding-top: 3rem !important; }
  .xs-pr6 {
    padding-right: 3rem !important; }
  .xs-pb6 {
    padding-bottom: 3rem !important; }
  .xs-pl6 {
    padding-left: 3rem !important; }
  .xs-pt7 {
    padding-top: 3.5rem !important; }
  .xs-pr7 {
    padding-right: 3.5rem !important; }
  .xs-pb7 {
    padding-bottom: 3.5rem !important; }
  .xs-pl7 {
    padding-left: 3.5rem !important; }
  .xs-pt8 {
    padding-top: 4rem !important; }
  .xs-pr8 {
    padding-right: 4rem !important; }
  .xs-pb8 {
    padding-bottom: 4rem !important; }
  .xs-pl8 {
    padding-left: 4rem !important; }
  .xs-pt9 {
    padding-top: 4.5rem !important; }
  .xs-pr9 {
    padding-right: 4.5rem !important; }
  .xs-pb9 {
    padding-bottom: 4.5rem !important; }
  .xs-pl9 {
    padding-left: 4.5rem !important; }
  .xs-pt10 {
    padding-top: 5rem !important; }
  .xs-pr10 {
    padding-right: 5rem !important; }
  .xs-pb10 {
    padding-bottom: 5rem !important; }
  .xs-pl10 {
    padding-left: 5rem !important; }
  .xs-pt11 {
    padding-top: 5.5rem !important; }
  .xs-pr11 {
    padding-right: 5.5rem !important; }
  .xs-pb11 {
    padding-bottom: 5.5rem !important; }
  .xs-pl11 {
    padding-left: 5.5rem !important; }
  .xs-pt12 {
    padding-top: 6rem !important; }
  .xs-pr12 {
    padding-right: 6rem !important; }
  .xs-pb12 {
    padding-bottom: 6rem !important; }
  .xs-pl12 {
    padding-left: 6rem !important; }
  .xs-pt13 {
    padding-top: 6.5rem !important; }
  .xs-pr13 {
    padding-right: 6.5rem !important; }
  .xs-pb13 {
    padding-bottom: 6.5rem !important; }
  .xs-pl13 {
    padding-left: 6.5rem !important; }
  .xs-pt14 {
    padding-top: 7rem !important; }
  .xs-pr14 {
    padding-right: 7rem !important; }
  .xs-pb14 {
    padding-bottom: 7rem !important; }
  .xs-pl14 {
    padding-left: 7rem !important; }
  .xs-pt15 {
    padding-top: 7.5rem !important; }
  .xs-pr15 {
    padding-right: 7.5rem !important; }
  .xs-pb15 {
    padding-bottom: 7.5rem !important; }
  .xs-pl15 {
    padding-left: 7.5rem !important; }
  .xs-pt16 {
    padding-top: 8rem !important; }
  .xs-pr16 {
    padding-right: 8rem !important; }
  .xs-pb16 {
    padding-bottom: 8rem !important; }
  .xs-pl16 {
    padding-left: 8rem !important; }
  .xs-pt17 {
    padding-top: 8.5rem !important; }
  .xs-pr17 {
    padding-right: 8.5rem !important; }
  .xs-pb17 {
    padding-bottom: 8.5rem !important; }
  .xs-pl17 {
    padding-left: 8.5rem !important; }
  .xs-pt18 {
    padding-top: 9rem !important; }
  .xs-pr18 {
    padding-right: 9rem !important; }
  .xs-pb18 {
    padding-bottom: 9rem !important; }
  .xs-pl18 {
    padding-left: 9rem !important; }
  .xs-pt19 {
    padding-top: 9.5rem !important; }
  .xs-pr19 {
    padding-right: 9.5rem !important; }
  .xs-pb19 {
    padding-bottom: 9.5rem !important; }
  .xs-pl19 {
    padding-left: 9.5rem !important; }
  .xs-pt20 {
    padding-top: 10rem !important; }
  .xs-pr20 {
    padding-right: 10rem !important; }
  .xs-pb20 {
    padding-bottom: 10rem !important; }
  .xs-pl20 {
    padding-left: 10rem !important; } }

@media (min-width: 767px) {
  .sm-pt0 {
    padding-top: 0rem !important; }
  .sm-pr0 {
    padding-right: 0rem !important; }
  .sm-pb0 {
    padding-bottom: 0rem !important; }
  .sm-pl0 {
    padding-left: 0rem !important; }
  .sm-pt1 {
    padding-top: 0.5rem !important; }
  .sm-pr1 {
    padding-right: 0.5rem !important; }
  .sm-pb1 {
    padding-bottom: 0.5rem !important; }
  .sm-pl1 {
    padding-left: 0.5rem !important; }
  .sm-pt2 {
    padding-top: 1rem !important; }
  .sm-pr2 {
    padding-right: 1rem !important; }
  .sm-pb2 {
    padding-bottom: 1rem !important; }
  .sm-pl2 {
    padding-left: 1rem !important; }
  .sm-pt3 {
    padding-top: 1.5rem !important; }
  .sm-pr3 {
    padding-right: 1.5rem !important; }
  .sm-pb3 {
    padding-bottom: 1.5rem !important; }
  .sm-pl3 {
    padding-left: 1.5rem !important; }
  .sm-pt4 {
    padding-top: 2rem !important; }
  .sm-pr4 {
    padding-right: 2rem !important; }
  .sm-pb4 {
    padding-bottom: 2rem !important; }
  .sm-pl4 {
    padding-left: 2rem !important; }
  .sm-pt5 {
    padding-top: 2.5rem !important; }
  .sm-pr5 {
    padding-right: 2.5rem !important; }
  .sm-pb5 {
    padding-bottom: 2.5rem !important; }
  .sm-pl5 {
    padding-left: 2.5rem !important; }
  .sm-pt6 {
    padding-top: 3rem !important; }
  .sm-pr6 {
    padding-right: 3rem !important; }
  .sm-pb6 {
    padding-bottom: 3rem !important; }
  .sm-pl6 {
    padding-left: 3rem !important; }
  .sm-pt7 {
    padding-top: 3.5rem !important; }
  .sm-pr7 {
    padding-right: 3.5rem !important; }
  .sm-pb7 {
    padding-bottom: 3.5rem !important; }
  .sm-pl7 {
    padding-left: 3.5rem !important; }
  .sm-pt8 {
    padding-top: 4rem !important; }
  .sm-pr8 {
    padding-right: 4rem !important; }
  .sm-pb8 {
    padding-bottom: 4rem !important; }
  .sm-pl8 {
    padding-left: 4rem !important; }
  .sm-pt9 {
    padding-top: 4.5rem !important; }
  .sm-pr9 {
    padding-right: 4.5rem !important; }
  .sm-pb9 {
    padding-bottom: 4.5rem !important; }
  .sm-pl9 {
    padding-left: 4.5rem !important; }
  .sm-pt10 {
    padding-top: 5rem !important; }
  .sm-pr10 {
    padding-right: 5rem !important; }
  .sm-pb10 {
    padding-bottom: 5rem !important; }
  .sm-pl10 {
    padding-left: 5rem !important; }
  .sm-pt11 {
    padding-top: 5.5rem !important; }
  .sm-pr11 {
    padding-right: 5.5rem !important; }
  .sm-pb11 {
    padding-bottom: 5.5rem !important; }
  .sm-pl11 {
    padding-left: 5.5rem !important; }
  .sm-pt12 {
    padding-top: 6rem !important; }
  .sm-pr12 {
    padding-right: 6rem !important; }
  .sm-pb12 {
    padding-bottom: 6rem !important; }
  .sm-pl12 {
    padding-left: 6rem !important; }
  .sm-pt13 {
    padding-top: 6.5rem !important; }
  .sm-pr13 {
    padding-right: 6.5rem !important; }
  .sm-pb13 {
    padding-bottom: 6.5rem !important; }
  .sm-pl13 {
    padding-left: 6.5rem !important; }
  .sm-pt14 {
    padding-top: 7rem !important; }
  .sm-pr14 {
    padding-right: 7rem !important; }
  .sm-pb14 {
    padding-bottom: 7rem !important; }
  .sm-pl14 {
    padding-left: 7rem !important; }
  .sm-pt15 {
    padding-top: 7.5rem !important; }
  .sm-pr15 {
    padding-right: 7.5rem !important; }
  .sm-pb15 {
    padding-bottom: 7.5rem !important; }
  .sm-pl15 {
    padding-left: 7.5rem !important; }
  .sm-pt16 {
    padding-top: 8rem !important; }
  .sm-pr16 {
    padding-right: 8rem !important; }
  .sm-pb16 {
    padding-bottom: 8rem !important; }
  .sm-pl16 {
    padding-left: 8rem !important; }
  .sm-pt17 {
    padding-top: 8.5rem !important; }
  .sm-pr17 {
    padding-right: 8.5rem !important; }
  .sm-pb17 {
    padding-bottom: 8.5rem !important; }
  .sm-pl17 {
    padding-left: 8.5rem !important; }
  .sm-pt18 {
    padding-top: 9rem !important; }
  .sm-pr18 {
    padding-right: 9rem !important; }
  .sm-pb18 {
    padding-bottom: 9rem !important; }
  .sm-pl18 {
    padding-left: 9rem !important; }
  .sm-pt19 {
    padding-top: 9.5rem !important; }
  .sm-pr19 {
    padding-right: 9.5rem !important; }
  .sm-pb19 {
    padding-bottom: 9.5rem !important; }
  .sm-pl19 {
    padding-left: 9.5rem !important; }
  .sm-pt20 {
    padding-top: 10rem !important; }
  .sm-pr20 {
    padding-right: 10rem !important; }
  .sm-pb20 {
    padding-bottom: 10rem !important; }
  .sm-pl20 {
    padding-left: 10rem !important; } }

@media (min-width: 992px) {
  .md-pt0 {
    padding-top: 0rem !important; }
  .md-pr0 {
    padding-right: 0rem !important; }
  .md-pb0 {
    padding-bottom: 0rem !important; }
  .md-pl0 {
    padding-left: 0rem !important; }
  .md-pt1 {
    padding-top: 0.5rem !important; }
  .md-pr1 {
    padding-right: 0.5rem !important; }
  .md-pb1 {
    padding-bottom: 0.5rem !important; }
  .md-pl1 {
    padding-left: 0.5rem !important; }
  .md-pt2 {
    padding-top: 1rem !important; }
  .md-pr2 {
    padding-right: 1rem !important; }
  .md-pb2 {
    padding-bottom: 1rem !important; }
  .md-pl2 {
    padding-left: 1rem !important; }
  .md-pt3 {
    padding-top: 1.5rem !important; }
  .md-pr3 {
    padding-right: 1.5rem !important; }
  .md-pb3 {
    padding-bottom: 1.5rem !important; }
  .md-pl3 {
    padding-left: 1.5rem !important; }
  .md-pt4 {
    padding-top: 2rem !important; }
  .md-pr4 {
    padding-right: 2rem !important; }
  .md-pb4 {
    padding-bottom: 2rem !important; }
  .md-pl4 {
    padding-left: 2rem !important; }
  .md-pt5 {
    padding-top: 2.5rem !important; }
  .md-pr5 {
    padding-right: 2.5rem !important; }
  .md-pb5 {
    padding-bottom: 2.5rem !important; }
  .md-pl5 {
    padding-left: 2.5rem !important; }
  .md-pt6 {
    padding-top: 3rem !important; }
  .md-pr6 {
    padding-right: 3rem !important; }
  .md-pb6 {
    padding-bottom: 3rem !important; }
  .md-pl6 {
    padding-left: 3rem !important; }
  .md-pt7 {
    padding-top: 3.5rem !important; }
  .md-pr7 {
    padding-right: 3.5rem !important; }
  .md-pb7 {
    padding-bottom: 3.5rem !important; }
  .md-pl7 {
    padding-left: 3.5rem !important; }
  .md-pt8 {
    padding-top: 4rem !important; }
  .md-pr8 {
    padding-right: 4rem !important; }
  .md-pb8 {
    padding-bottom: 4rem !important; }
  .md-pl8 {
    padding-left: 4rem !important; }
  .md-pt9 {
    padding-top: 4.5rem !important; }
  .md-pr9 {
    padding-right: 4.5rem !important; }
  .md-pb9 {
    padding-bottom: 4.5rem !important; }
  .md-pl9 {
    padding-left: 4.5rem !important; }
  .md-pt10 {
    padding-top: 5rem !important; }
  .md-pr10 {
    padding-right: 5rem !important; }
  .md-pb10 {
    padding-bottom: 5rem !important; }
  .md-pl10 {
    padding-left: 5rem !important; }
  .md-pt11 {
    padding-top: 5.5rem !important; }
  .md-pr11 {
    padding-right: 5.5rem !important; }
  .md-pb11 {
    padding-bottom: 5.5rem !important; }
  .md-pl11 {
    padding-left: 5.5rem !important; }
  .md-pt12 {
    padding-top: 6rem !important; }
  .md-pr12 {
    padding-right: 6rem !important; }
  .md-pb12 {
    padding-bottom: 6rem !important; }
  .md-pl12 {
    padding-left: 6rem !important; }
  .md-pt13 {
    padding-top: 6.5rem !important; }
  .md-pr13 {
    padding-right: 6.5rem !important; }
  .md-pb13 {
    padding-bottom: 6.5rem !important; }
  .md-pl13 {
    padding-left: 6.5rem !important; }
  .md-pt14 {
    padding-top: 7rem !important; }
  .md-pr14 {
    padding-right: 7rem !important; }
  .md-pb14 {
    padding-bottom: 7rem !important; }
  .md-pl14 {
    padding-left: 7rem !important; }
  .md-pt15 {
    padding-top: 7.5rem !important; }
  .md-pr15 {
    padding-right: 7.5rem !important; }
  .md-pb15 {
    padding-bottom: 7.5rem !important; }
  .md-pl15 {
    padding-left: 7.5rem !important; }
  .md-pt16 {
    padding-top: 8rem !important; }
  .md-pr16 {
    padding-right: 8rem !important; }
  .md-pb16 {
    padding-bottom: 8rem !important; }
  .md-pl16 {
    padding-left: 8rem !important; }
  .md-pt17 {
    padding-top: 8.5rem !important; }
  .md-pr17 {
    padding-right: 8.5rem !important; }
  .md-pb17 {
    padding-bottom: 8.5rem !important; }
  .md-pl17 {
    padding-left: 8.5rem !important; }
  .md-pt18 {
    padding-top: 9rem !important; }
  .md-pr18 {
    padding-right: 9rem !important; }
  .md-pb18 {
    padding-bottom: 9rem !important; }
  .md-pl18 {
    padding-left: 9rem !important; }
  .md-pt19 {
    padding-top: 9.5rem !important; }
  .md-pr19 {
    padding-right: 9.5rem !important; }
  .md-pb19 {
    padding-bottom: 9.5rem !important; }
  .md-pl19 {
    padding-left: 9.5rem !important; }
  .md-pt20 {
    padding-top: 10rem !important; }
  .md-pr20 {
    padding-right: 10rem !important; }
  .md-pb20 {
    padding-bottom: 10rem !important; }
  .md-pl20 {
    padding-left: 10rem !important; } }

@media (min-width: 1200px) {
  .lg-pt0 {
    padding-top: 0rem !important; }
  .lg-pr0 {
    padding-right: 0rem !important; }
  .lg-pb0 {
    padding-bottom: 0rem !important; }
  .lg-pl0 {
    padding-left: 0rem !important; }
  .lg-pt1 {
    padding-top: 0.5rem !important; }
  .lg-pr1 {
    padding-right: 0.5rem !important; }
  .lg-pb1 {
    padding-bottom: 0.5rem !important; }
  .lg-pl1 {
    padding-left: 0.5rem !important; }
  .lg-pt2 {
    padding-top: 1rem !important; }
  .lg-pr2 {
    padding-right: 1rem !important; }
  .lg-pb2 {
    padding-bottom: 1rem !important; }
  .lg-pl2 {
    padding-left: 1rem !important; }
  .lg-pt3 {
    padding-top: 1.5rem !important; }
  .lg-pr3 {
    padding-right: 1.5rem !important; }
  .lg-pb3 {
    padding-bottom: 1.5rem !important; }
  .lg-pl3 {
    padding-left: 1.5rem !important; }
  .lg-pt4 {
    padding-top: 2rem !important; }
  .lg-pr4 {
    padding-right: 2rem !important; }
  .lg-pb4 {
    padding-bottom: 2rem !important; }
  .lg-pl4 {
    padding-left: 2rem !important; }
  .lg-pt5 {
    padding-top: 2.5rem !important; }
  .lg-pr5 {
    padding-right: 2.5rem !important; }
  .lg-pb5 {
    padding-bottom: 2.5rem !important; }
  .lg-pl5 {
    padding-left: 2.5rem !important; }
  .lg-pt6 {
    padding-top: 3rem !important; }
  .lg-pr6 {
    padding-right: 3rem !important; }
  .lg-pb6 {
    padding-bottom: 3rem !important; }
  .lg-pl6 {
    padding-left: 3rem !important; }
  .lg-pt7 {
    padding-top: 3.5rem !important; }
  .lg-pr7 {
    padding-right: 3.5rem !important; }
  .lg-pb7 {
    padding-bottom: 3.5rem !important; }
  .lg-pl7 {
    padding-left: 3.5rem !important; }
  .lg-pt8 {
    padding-top: 4rem !important; }
  .lg-pr8 {
    padding-right: 4rem !important; }
  .lg-pb8 {
    padding-bottom: 4rem !important; }
  .lg-pl8 {
    padding-left: 4rem !important; }
  .lg-pt9 {
    padding-top: 4.5rem !important; }
  .lg-pr9 {
    padding-right: 4.5rem !important; }
  .lg-pb9 {
    padding-bottom: 4.5rem !important; }
  .lg-pl9 {
    padding-left: 4.5rem !important; }
  .lg-pt10 {
    padding-top: 5rem !important; }
  .lg-pr10 {
    padding-right: 5rem !important; }
  .lg-pb10 {
    padding-bottom: 5rem !important; }
  .lg-pl10 {
    padding-left: 5rem !important; }
  .lg-pt11 {
    padding-top: 5.5rem !important; }
  .lg-pr11 {
    padding-right: 5.5rem !important; }
  .lg-pb11 {
    padding-bottom: 5.5rem !important; }
  .lg-pl11 {
    padding-left: 5.5rem !important; }
  .lg-pt12 {
    padding-top: 6rem !important; }
  .lg-pr12 {
    padding-right: 6rem !important; }
  .lg-pb12 {
    padding-bottom: 6rem !important; }
  .lg-pl12 {
    padding-left: 6rem !important; }
  .lg-pt13 {
    padding-top: 6.5rem !important; }
  .lg-pr13 {
    padding-right: 6.5rem !important; }
  .lg-pb13 {
    padding-bottom: 6.5rem !important; }
  .lg-pl13 {
    padding-left: 6.5rem !important; }
  .lg-pt14 {
    padding-top: 7rem !important; }
  .lg-pr14 {
    padding-right: 7rem !important; }
  .lg-pb14 {
    padding-bottom: 7rem !important; }
  .lg-pl14 {
    padding-left: 7rem !important; }
  .lg-pt15 {
    padding-top: 7.5rem !important; }
  .lg-pr15 {
    padding-right: 7.5rem !important; }
  .lg-pb15 {
    padding-bottom: 7.5rem !important; }
  .lg-pl15 {
    padding-left: 7.5rem !important; }
  .lg-pt16 {
    padding-top: 8rem !important; }
  .lg-pr16 {
    padding-right: 8rem !important; }
  .lg-pb16 {
    padding-bottom: 8rem !important; }
  .lg-pl16 {
    padding-left: 8rem !important; }
  .lg-pt17 {
    padding-top: 8.5rem !important; }
  .lg-pr17 {
    padding-right: 8.5rem !important; }
  .lg-pb17 {
    padding-bottom: 8.5rem !important; }
  .lg-pl17 {
    padding-left: 8.5rem !important; }
  .lg-pt18 {
    padding-top: 9rem !important; }
  .lg-pr18 {
    padding-right: 9rem !important; }
  .lg-pb18 {
    padding-bottom: 9rem !important; }
  .lg-pl18 {
    padding-left: 9rem !important; }
  .lg-pt19 {
    padding-top: 9.5rem !important; }
  .lg-pr19 {
    padding-right: 9.5rem !important; }
  .lg-pb19 {
    padding-bottom: 9.5rem !important; }
  .lg-pl19 {
    padding-left: 9.5rem !important; }
  .lg-pt20 {
    padding-top: 10rem !important; }
  .lg-pr20 {
    padding-right: 10rem !important; }
  .lg-pb20 {
    padding-bottom: 10rem !important; }
  .lg-pl20 {
    padding-left: 10rem !important; } }

@media (min-width: 0px) {
  .xs-m0 {
    margin: 0rem !important; }
  .xs-m1 {
    margin: 0.5rem !important; }
  .xs-m2 {
    margin: 1rem !important; }
  .xs-m3 {
    margin: 1.5rem !important; }
  .xs-m4 {
    margin: 2rem !important; }
  .xs-m5 {
    margin: 2.5rem !important; }
  .xs-m6 {
    margin: 3rem !important; }
  .xs-m7 {
    margin: 3.5rem !important; }
  .xs-m8 {
    margin: 4rem !important; }
  .xs-m9 {
    margin: 4.5rem !important; }
  .xs-m10 {
    margin: 5rem !important; }
  .xs-m11 {
    margin: 5.5rem !important; }
  .xs-m12 {
    margin: 6rem !important; }
  .xs-m13 {
    margin: 6.5rem !important; }
  .xs-m14 {
    margin: 7rem !important; }
  .xs-m15 {
    margin: 7.5rem !important; }
  .xs-m16 {
    margin: 8rem !important; }
  .xs-m17 {
    margin: 8.5rem !important; }
  .xs-m18 {
    margin: 9rem !important; }
  .xs-m19 {
    margin: 9.5rem !important; }
  .xs-m20 {
    margin: 10rem !important; } }

@media (min-width: 767px) {
  .sm-m0 {
    margin: 0rem !important; }
  .sm-m1 {
    margin: 0.5rem !important; }
  .sm-m2 {
    margin: 1rem !important; }
  .sm-m3 {
    margin: 1.5rem !important; }
  .sm-m4 {
    margin: 2rem !important; }
  .sm-m5 {
    margin: 2.5rem !important; }
  .sm-m6 {
    margin: 3rem !important; }
  .sm-m7 {
    margin: 3.5rem !important; }
  .sm-m8 {
    margin: 4rem !important; }
  .sm-m9 {
    margin: 4.5rem !important; }
  .sm-m10 {
    margin: 5rem !important; }
  .sm-m11 {
    margin: 5.5rem !important; }
  .sm-m12 {
    margin: 6rem !important; }
  .sm-m13 {
    margin: 6.5rem !important; }
  .sm-m14 {
    margin: 7rem !important; }
  .sm-m15 {
    margin: 7.5rem !important; }
  .sm-m16 {
    margin: 8rem !important; }
  .sm-m17 {
    margin: 8.5rem !important; }
  .sm-m18 {
    margin: 9rem !important; }
  .sm-m19 {
    margin: 9.5rem !important; }
  .sm-m20 {
    margin: 10rem !important; } }

@media (min-width: 992px) {
  .md-m0 {
    margin: 0rem !important; }
  .md-m1 {
    margin: 0.5rem !important; }
  .md-m2 {
    margin: 1rem !important; }
  .md-m3 {
    margin: 1.5rem !important; }
  .md-m4 {
    margin: 2rem !important; }
  .md-m5 {
    margin: 2.5rem !important; }
  .md-m6 {
    margin: 3rem !important; }
  .md-m7 {
    margin: 3.5rem !important; }
  .md-m8 {
    margin: 4rem !important; }
  .md-m9 {
    margin: 4.5rem !important; }
  .md-m10 {
    margin: 5rem !important; }
  .md-m11 {
    margin: 5.5rem !important; }
  .md-m12 {
    margin: 6rem !important; }
  .md-m13 {
    margin: 6.5rem !important; }
  .md-m14 {
    margin: 7rem !important; }
  .md-m15 {
    margin: 7.5rem !important; }
  .md-m16 {
    margin: 8rem !important; }
  .md-m17 {
    margin: 8.5rem !important; }
  .md-m18 {
    margin: 9rem !important; }
  .md-m19 {
    margin: 9.5rem !important; }
  .md-m20 {
    margin: 10rem !important; } }

@media (min-width: 1200px) {
  .lg-m0 {
    margin: 0rem !important; }
  .lg-m1 {
    margin: 0.5rem !important; }
  .lg-m2 {
    margin: 1rem !important; }
  .lg-m3 {
    margin: 1.5rem !important; }
  .lg-m4 {
    margin: 2rem !important; }
  .lg-m5 {
    margin: 2.5rem !important; }
  .lg-m6 {
    margin: 3rem !important; }
  .lg-m7 {
    margin: 3.5rem !important; }
  .lg-m8 {
    margin: 4rem !important; }
  .lg-m9 {
    margin: 4.5rem !important; }
  .lg-m10 {
    margin: 5rem !important; }
  .lg-m11 {
    margin: 5.5rem !important; }
  .lg-m12 {
    margin: 6rem !important; }
  .lg-m13 {
    margin: 6.5rem !important; }
  .lg-m14 {
    margin: 7rem !important; }
  .lg-m15 {
    margin: 7.5rem !important; }
  .lg-m16 {
    margin: 8rem !important; }
  .lg-m17 {
    margin: 8.5rem !important; }
  .lg-m18 {
    margin: 9rem !important; }
  .lg-m19 {
    margin: 9.5rem !important; }
  .lg-m20 {
    margin: 10rem !important; } }

@media (min-width: 0px) {
  .xs-mt0 {
    margin-top: 0rem !important; }
  .xs-mr0 {
    margin-right: 0rem !important; }
  .xs-mb0 {
    margin-bottom: 0rem !important; }
  .xs-ml0 {
    margin-left: 0rem !important; }
  .xs-mt1 {
    margin-top: 0.5rem !important; }
  .xs-mr1 {
    margin-right: 0.5rem !important; }
  .xs-mb1 {
    margin-bottom: 0.5rem !important; }
  .xs-ml1 {
    margin-left: 0.5rem !important; }
  .xs-mt2 {
    margin-top: 1rem !important; }
  .xs-mr2 {
    margin-right: 1rem !important; }
  .xs-mb2 {
    margin-bottom: 1rem !important; }
  .xs-ml2 {
    margin-left: 1rem !important; }
  .xs-mt3 {
    margin-top: 1.5rem !important; }
  .xs-mr3 {
    margin-right: 1.5rem !important; }
  .xs-mb3 {
    margin-bottom: 1.5rem !important; }
  .xs-ml3 {
    margin-left: 1.5rem !important; }
  .xs-mt4 {
    margin-top: 2rem !important; }
  .xs-mr4 {
    margin-right: 2rem !important; }
  .xs-mb4 {
    margin-bottom: 2rem !important; }
  .xs-ml4 {
    margin-left: 2rem !important; }
  .xs-mt5 {
    margin-top: 2.5rem !important; }
  .xs-mr5 {
    margin-right: 2.5rem !important; }
  .xs-mb5 {
    margin-bottom: 2.5rem !important; }
  .xs-ml5 {
    margin-left: 2.5rem !important; }
  .xs-mt6 {
    margin-top: 3rem !important; }
  .xs-mr6 {
    margin-right: 3rem !important; }
  .xs-mb6 {
    margin-bottom: 3rem !important; }
  .xs-ml6 {
    margin-left: 3rem !important; }
  .xs-mt7 {
    margin-top: 3.5rem !important; }
  .xs-mr7 {
    margin-right: 3.5rem !important; }
  .xs-mb7 {
    margin-bottom: 3.5rem !important; }
  .xs-ml7 {
    margin-left: 3.5rem !important; }
  .xs-mt8 {
    margin-top: 4rem !important; }
  .xs-mr8 {
    margin-right: 4rem !important; }
  .xs-mb8 {
    margin-bottom: 4rem !important; }
  .xs-ml8 {
    margin-left: 4rem !important; }
  .xs-mt9 {
    margin-top: 4.5rem !important; }
  .xs-mr9 {
    margin-right: 4.5rem !important; }
  .xs-mb9 {
    margin-bottom: 4.5rem !important; }
  .xs-ml9 {
    margin-left: 4.5rem !important; }
  .xs-mt10 {
    margin-top: 5rem !important; }
  .xs-mr10 {
    margin-right: 5rem !important; }
  .xs-mb10 {
    margin-bottom: 5rem !important; }
  .xs-ml10 {
    margin-left: 5rem !important; }
  .xs-mt11 {
    margin-top: 5.5rem !important; }
  .xs-mr11 {
    margin-right: 5.5rem !important; }
  .xs-mb11 {
    margin-bottom: 5.5rem !important; }
  .xs-ml11 {
    margin-left: 5.5rem !important; }
  .xs-mt12 {
    margin-top: 6rem !important; }
  .xs-mr12 {
    margin-right: 6rem !important; }
  .xs-mb12 {
    margin-bottom: 6rem !important; }
  .xs-ml12 {
    margin-left: 6rem !important; }
  .xs-mt13 {
    margin-top: 6.5rem !important; }
  .xs-mr13 {
    margin-right: 6.5rem !important; }
  .xs-mb13 {
    margin-bottom: 6.5rem !important; }
  .xs-ml13 {
    margin-left: 6.5rem !important; }
  .xs-mt14 {
    margin-top: 7rem !important; }
  .xs-mr14 {
    margin-right: 7rem !important; }
  .xs-mb14 {
    margin-bottom: 7rem !important; }
  .xs-ml14 {
    margin-left: 7rem !important; }
  .xs-mt15 {
    margin-top: 7.5rem !important; }
  .xs-mr15 {
    margin-right: 7.5rem !important; }
  .xs-mb15 {
    margin-bottom: 7.5rem !important; }
  .xs-ml15 {
    margin-left: 7.5rem !important; }
  .xs-mt16 {
    margin-top: 8rem !important; }
  .xs-mr16 {
    margin-right: 8rem !important; }
  .xs-mb16 {
    margin-bottom: 8rem !important; }
  .xs-ml16 {
    margin-left: 8rem !important; }
  .xs-mt17 {
    margin-top: 8.5rem !important; }
  .xs-mr17 {
    margin-right: 8.5rem !important; }
  .xs-mb17 {
    margin-bottom: 8.5rem !important; }
  .xs-ml17 {
    margin-left: 8.5rem !important; }
  .xs-mt18 {
    margin-top: 9rem !important; }
  .xs-mr18 {
    margin-right: 9rem !important; }
  .xs-mb18 {
    margin-bottom: 9rem !important; }
  .xs-ml18 {
    margin-left: 9rem !important; }
  .xs-mt19 {
    margin-top: 9.5rem !important; }
  .xs-mr19 {
    margin-right: 9.5rem !important; }
  .xs-mb19 {
    margin-bottom: 9.5rem !important; }
  .xs-ml19 {
    margin-left: 9.5rem !important; }
  .xs-mt20 {
    margin-top: 10rem !important; }
  .xs-mr20 {
    margin-right: 10rem !important; }
  .xs-mb20 {
    margin-bottom: 10rem !important; }
  .xs-ml20 {
    margin-left: 10rem !important; } }

@media (min-width: 767px) {
  .sm-mt0 {
    margin-top: 0rem !important; }
  .sm-mr0 {
    margin-right: 0rem !important; }
  .sm-mb0 {
    margin-bottom: 0rem !important; }
  .sm-ml0 {
    margin-left: 0rem !important; }
  .sm-mt1 {
    margin-top: 0.5rem !important; }
  .sm-mr1 {
    margin-right: 0.5rem !important; }
  .sm-mb1 {
    margin-bottom: 0.5rem !important; }
  .sm-ml1 {
    margin-left: 0.5rem !important; }
  .sm-mt2 {
    margin-top: 1rem !important; }
  .sm-mr2 {
    margin-right: 1rem !important; }
  .sm-mb2 {
    margin-bottom: 1rem !important; }
  .sm-ml2 {
    margin-left: 1rem !important; }
  .sm-mt3 {
    margin-top: 1.5rem !important; }
  .sm-mr3 {
    margin-right: 1.5rem !important; }
  .sm-mb3 {
    margin-bottom: 1.5rem !important; }
  .sm-ml3 {
    margin-left: 1.5rem !important; }
  .sm-mt4 {
    margin-top: 2rem !important; }
  .sm-mr4 {
    margin-right: 2rem !important; }
  .sm-mb4 {
    margin-bottom: 2rem !important; }
  .sm-ml4 {
    margin-left: 2rem !important; }
  .sm-mt5 {
    margin-top: 2.5rem !important; }
  .sm-mr5 {
    margin-right: 2.5rem !important; }
  .sm-mb5 {
    margin-bottom: 2.5rem !important; }
  .sm-ml5 {
    margin-left: 2.5rem !important; }
  .sm-mt6 {
    margin-top: 3rem !important; }
  .sm-mr6 {
    margin-right: 3rem !important; }
  .sm-mb6 {
    margin-bottom: 3rem !important; }
  .sm-ml6 {
    margin-left: 3rem !important; }
  .sm-mt7 {
    margin-top: 3.5rem !important; }
  .sm-mr7 {
    margin-right: 3.5rem !important; }
  .sm-mb7 {
    margin-bottom: 3.5rem !important; }
  .sm-ml7 {
    margin-left: 3.5rem !important; }
  .sm-mt8 {
    margin-top: 4rem !important; }
  .sm-mr8 {
    margin-right: 4rem !important; }
  .sm-mb8 {
    margin-bottom: 4rem !important; }
  .sm-ml8 {
    margin-left: 4rem !important; }
  .sm-mt9 {
    margin-top: 4.5rem !important; }
  .sm-mr9 {
    margin-right: 4.5rem !important; }
  .sm-mb9 {
    margin-bottom: 4.5rem !important; }
  .sm-ml9 {
    margin-left: 4.5rem !important; }
  .sm-mt10 {
    margin-top: 5rem !important; }
  .sm-mr10 {
    margin-right: 5rem !important; }
  .sm-mb10 {
    margin-bottom: 5rem !important; }
  .sm-ml10 {
    margin-left: 5rem !important; }
  .sm-mt11 {
    margin-top: 5.5rem !important; }
  .sm-mr11 {
    margin-right: 5.5rem !important; }
  .sm-mb11 {
    margin-bottom: 5.5rem !important; }
  .sm-ml11 {
    margin-left: 5.5rem !important; }
  .sm-mt12 {
    margin-top: 6rem !important; }
  .sm-mr12 {
    margin-right: 6rem !important; }
  .sm-mb12 {
    margin-bottom: 6rem !important; }
  .sm-ml12 {
    margin-left: 6rem !important; }
  .sm-mt13 {
    margin-top: 6.5rem !important; }
  .sm-mr13 {
    margin-right: 6.5rem !important; }
  .sm-mb13 {
    margin-bottom: 6.5rem !important; }
  .sm-ml13 {
    margin-left: 6.5rem !important; }
  .sm-mt14 {
    margin-top: 7rem !important; }
  .sm-mr14 {
    margin-right: 7rem !important; }
  .sm-mb14 {
    margin-bottom: 7rem !important; }
  .sm-ml14 {
    margin-left: 7rem !important; }
  .sm-mt15 {
    margin-top: 7.5rem !important; }
  .sm-mr15 {
    margin-right: 7.5rem !important; }
  .sm-mb15 {
    margin-bottom: 7.5rem !important; }
  .sm-ml15 {
    margin-left: 7.5rem !important; }
  .sm-mt16 {
    margin-top: 8rem !important; }
  .sm-mr16 {
    margin-right: 8rem !important; }
  .sm-mb16 {
    margin-bottom: 8rem !important; }
  .sm-ml16 {
    margin-left: 8rem !important; }
  .sm-mt17 {
    margin-top: 8.5rem !important; }
  .sm-mr17 {
    margin-right: 8.5rem !important; }
  .sm-mb17 {
    margin-bottom: 8.5rem !important; }
  .sm-ml17 {
    margin-left: 8.5rem !important; }
  .sm-mt18 {
    margin-top: 9rem !important; }
  .sm-mr18 {
    margin-right: 9rem !important; }
  .sm-mb18 {
    margin-bottom: 9rem !important; }
  .sm-ml18 {
    margin-left: 9rem !important; }
  .sm-mt19 {
    margin-top: 9.5rem !important; }
  .sm-mr19 {
    margin-right: 9.5rem !important; }
  .sm-mb19 {
    margin-bottom: 9.5rem !important; }
  .sm-ml19 {
    margin-left: 9.5rem !important; }
  .sm-mt20 {
    margin-top: 10rem !important; }
  .sm-mr20 {
    margin-right: 10rem !important; }
  .sm-mb20 {
    margin-bottom: 10rem !important; }
  .sm-ml20 {
    margin-left: 10rem !important; } }

@media (min-width: 992px) {
  .md-mt0 {
    margin-top: 0rem !important; }
  .md-mr0 {
    margin-right: 0rem !important; }
  .md-mb0 {
    margin-bottom: 0rem !important; }
  .md-ml0 {
    margin-left: 0rem !important; }
  .md-mt1 {
    margin-top: 0.5rem !important; }
  .md-mr1 {
    margin-right: 0.5rem !important; }
  .md-mb1 {
    margin-bottom: 0.5rem !important; }
  .md-ml1 {
    margin-left: 0.5rem !important; }
  .md-mt2 {
    margin-top: 1rem !important; }
  .md-mr2 {
    margin-right: 1rem !important; }
  .md-mb2 {
    margin-bottom: 1rem !important; }
  .md-ml2 {
    margin-left: 1rem !important; }
  .md-mt3 {
    margin-top: 1.5rem !important; }
  .md-mr3 {
    margin-right: 1.5rem !important; }
  .md-mb3 {
    margin-bottom: 1.5rem !important; }
  .md-ml3 {
    margin-left: 1.5rem !important; }
  .md-mt4 {
    margin-top: 2rem !important; }
  .md-mr4 {
    margin-right: 2rem !important; }
  .md-mb4 {
    margin-bottom: 2rem !important; }
  .md-ml4 {
    margin-left: 2rem !important; }
  .md-mt5 {
    margin-top: 2.5rem !important; }
  .md-mr5 {
    margin-right: 2.5rem !important; }
  .md-mb5 {
    margin-bottom: 2.5rem !important; }
  .md-ml5 {
    margin-left: 2.5rem !important; }
  .md-mt6 {
    margin-top: 3rem !important; }
  .md-mr6 {
    margin-right: 3rem !important; }
  .md-mb6 {
    margin-bottom: 3rem !important; }
  .md-ml6 {
    margin-left: 3rem !important; }
  .md-mt7 {
    margin-top: 3.5rem !important; }
  .md-mr7 {
    margin-right: 3.5rem !important; }
  .md-mb7 {
    margin-bottom: 3.5rem !important; }
  .md-ml7 {
    margin-left: 3.5rem !important; }
  .md-mt8 {
    margin-top: 4rem !important; }
  .md-mr8 {
    margin-right: 4rem !important; }
  .md-mb8 {
    margin-bottom: 4rem !important; }
  .md-ml8 {
    margin-left: 4rem !important; }
  .md-mt9 {
    margin-top: 4.5rem !important; }
  .md-mr9 {
    margin-right: 4.5rem !important; }
  .md-mb9 {
    margin-bottom: 4.5rem !important; }
  .md-ml9 {
    margin-left: 4.5rem !important; }
  .md-mt10 {
    margin-top: 5rem !important; }
  .md-mr10 {
    margin-right: 5rem !important; }
  .md-mb10 {
    margin-bottom: 5rem !important; }
  .md-ml10 {
    margin-left: 5rem !important; }
  .md-mt11 {
    margin-top: 5.5rem !important; }
  .md-mr11 {
    margin-right: 5.5rem !important; }
  .md-mb11 {
    margin-bottom: 5.5rem !important; }
  .md-ml11 {
    margin-left: 5.5rem !important; }
  .md-mt12 {
    margin-top: 6rem !important; }
  .md-mr12 {
    margin-right: 6rem !important; }
  .md-mb12 {
    margin-bottom: 6rem !important; }
  .md-ml12 {
    margin-left: 6rem !important; }
  .md-mt13 {
    margin-top: 6.5rem !important; }
  .md-mr13 {
    margin-right: 6.5rem !important; }
  .md-mb13 {
    margin-bottom: 6.5rem !important; }
  .md-ml13 {
    margin-left: 6.5rem !important; }
  .md-mt14 {
    margin-top: 7rem !important; }
  .md-mr14 {
    margin-right: 7rem !important; }
  .md-mb14 {
    margin-bottom: 7rem !important; }
  .md-ml14 {
    margin-left: 7rem !important; }
  .md-mt15 {
    margin-top: 7.5rem !important; }
  .md-mr15 {
    margin-right: 7.5rem !important; }
  .md-mb15 {
    margin-bottom: 7.5rem !important; }
  .md-ml15 {
    margin-left: 7.5rem !important; }
  .md-mt16 {
    margin-top: 8rem !important; }
  .md-mr16 {
    margin-right: 8rem !important; }
  .md-mb16 {
    margin-bottom: 8rem !important; }
  .md-ml16 {
    margin-left: 8rem !important; }
  .md-mt17 {
    margin-top: 8.5rem !important; }
  .md-mr17 {
    margin-right: 8.5rem !important; }
  .md-mb17 {
    margin-bottom: 8.5rem !important; }
  .md-ml17 {
    margin-left: 8.5rem !important; }
  .md-mt18 {
    margin-top: 9rem !important; }
  .md-mr18 {
    margin-right: 9rem !important; }
  .md-mb18 {
    margin-bottom: 9rem !important; }
  .md-ml18 {
    margin-left: 9rem !important; }
  .md-mt19 {
    margin-top: 9.5rem !important; }
  .md-mr19 {
    margin-right: 9.5rem !important; }
  .md-mb19 {
    margin-bottom: 9.5rem !important; }
  .md-ml19 {
    margin-left: 9.5rem !important; }
  .md-mt20 {
    margin-top: 10rem !important; }
  .md-mr20 {
    margin-right: 10rem !important; }
  .md-mb20 {
    margin-bottom: 10rem !important; }
  .md-ml20 {
    margin-left: 10rem !important; } }

@media (min-width: 1200px) {
  .lg-mt0 {
    margin-top: 0rem !important; }
  .lg-mr0 {
    margin-right: 0rem !important; }
  .lg-mb0 {
    margin-bottom: 0rem !important; }
  .lg-ml0 {
    margin-left: 0rem !important; }
  .lg-mt1 {
    margin-top: 0.5rem !important; }
  .lg-mr1 {
    margin-right: 0.5rem !important; }
  .lg-mb1 {
    margin-bottom: 0.5rem !important; }
  .lg-ml1 {
    margin-left: 0.5rem !important; }
  .lg-mt2 {
    margin-top: 1rem !important; }
  .lg-mr2 {
    margin-right: 1rem !important; }
  .lg-mb2 {
    margin-bottom: 1rem !important; }
  .lg-ml2 {
    margin-left: 1rem !important; }
  .lg-mt3 {
    margin-top: 1.5rem !important; }
  .lg-mr3 {
    margin-right: 1.5rem !important; }
  .lg-mb3 {
    margin-bottom: 1.5rem !important; }
  .lg-ml3 {
    margin-left: 1.5rem !important; }
  .lg-mt4 {
    margin-top: 2rem !important; }
  .lg-mr4 {
    margin-right: 2rem !important; }
  .lg-mb4 {
    margin-bottom: 2rem !important; }
  .lg-ml4 {
    margin-left: 2rem !important; }
  .lg-mt5 {
    margin-top: 2.5rem !important; }
  .lg-mr5 {
    margin-right: 2.5rem !important; }
  .lg-mb5 {
    margin-bottom: 2.5rem !important; }
  .lg-ml5 {
    margin-left: 2.5rem !important; }
  .lg-mt6 {
    margin-top: 3rem !important; }
  .lg-mr6 {
    margin-right: 3rem !important; }
  .lg-mb6 {
    margin-bottom: 3rem !important; }
  .lg-ml6 {
    margin-left: 3rem !important; }
  .lg-mt7 {
    margin-top: 3.5rem !important; }
  .lg-mr7 {
    margin-right: 3.5rem !important; }
  .lg-mb7 {
    margin-bottom: 3.5rem !important; }
  .lg-ml7 {
    margin-left: 3.5rem !important; }
  .lg-mt8 {
    margin-top: 4rem !important; }
  .lg-mr8 {
    margin-right: 4rem !important; }
  .lg-mb8 {
    margin-bottom: 4rem !important; }
  .lg-ml8 {
    margin-left: 4rem !important; }
  .lg-mt9 {
    margin-top: 4.5rem !important; }
  .lg-mr9 {
    margin-right: 4.5rem !important; }
  .lg-mb9 {
    margin-bottom: 4.5rem !important; }
  .lg-ml9 {
    margin-left: 4.5rem !important; }
  .lg-mt10 {
    margin-top: 5rem !important; }
  .lg-mr10 {
    margin-right: 5rem !important; }
  .lg-mb10 {
    margin-bottom: 5rem !important; }
  .lg-ml10 {
    margin-left: 5rem !important; }
  .lg-mt11 {
    margin-top: 5.5rem !important; }
  .lg-mr11 {
    margin-right: 5.5rem !important; }
  .lg-mb11 {
    margin-bottom: 5.5rem !important; }
  .lg-ml11 {
    margin-left: 5.5rem !important; }
  .lg-mt12 {
    margin-top: 6rem !important; }
  .lg-mr12 {
    margin-right: 6rem !important; }
  .lg-mb12 {
    margin-bottom: 6rem !important; }
  .lg-ml12 {
    margin-left: 6rem !important; }
  .lg-mt13 {
    margin-top: 6.5rem !important; }
  .lg-mr13 {
    margin-right: 6.5rem !important; }
  .lg-mb13 {
    margin-bottom: 6.5rem !important; }
  .lg-ml13 {
    margin-left: 6.5rem !important; }
  .lg-mt14 {
    margin-top: 7rem !important; }
  .lg-mr14 {
    margin-right: 7rem !important; }
  .lg-mb14 {
    margin-bottom: 7rem !important; }
  .lg-ml14 {
    margin-left: 7rem !important; }
  .lg-mt15 {
    margin-top: 7.5rem !important; }
  .lg-mr15 {
    margin-right: 7.5rem !important; }
  .lg-mb15 {
    margin-bottom: 7.5rem !important; }
  .lg-ml15 {
    margin-left: 7.5rem !important; }
  .lg-mt16 {
    margin-top: 8rem !important; }
  .lg-mr16 {
    margin-right: 8rem !important; }
  .lg-mb16 {
    margin-bottom: 8rem !important; }
  .lg-ml16 {
    margin-left: 8rem !important; }
  .lg-mt17 {
    margin-top: 8.5rem !important; }
  .lg-mr17 {
    margin-right: 8.5rem !important; }
  .lg-mb17 {
    margin-bottom: 8.5rem !important; }
  .lg-ml17 {
    margin-left: 8.5rem !important; }
  .lg-mt18 {
    margin-top: 9rem !important; }
  .lg-mr18 {
    margin-right: 9rem !important; }
  .lg-mb18 {
    margin-bottom: 9rem !important; }
  .lg-ml18 {
    margin-left: 9rem !important; }
  .lg-mt19 {
    margin-top: 9.5rem !important; }
  .lg-mr19 {
    margin-right: 9.5rem !important; }
  .lg-mb19 {
    margin-bottom: 9.5rem !important; }
  .lg-ml19 {
    margin-left: 9.5rem !important; }
  .lg-mt20 {
    margin-top: 10rem !important; }
  .lg-mr20 {
    margin-right: 10rem !important; }
  .lg-mb20 {
    margin-bottom: 10rem !important; }
  .lg-ml20 {
    margin-left: 10rem !important; } }

@media (min-width: 0px) {
  .xs-text-left {
    text-align: left !important; }
  .xs-text-right {
    text-align: right !important; }
  .xs-text-center {
    text-align: center !important; }
  .xs-text-justify {
    text-align: justify !important; } }

@media (min-width: 767px) {
  .sm-text-left {
    text-align: left !important; }
  .sm-text-right {
    text-align: right !important; }
  .sm-text-center {
    text-align: center !important; }
  .sm-text-justify {
    text-align: justify !important; } }

@media (min-width: 992px) {
  .md-text-left {
    text-align: left !important; }
  .md-text-right {
    text-align: right !important; }
  .md-text-center {
    text-align: center !important; }
  .md-text-justify {
    text-align: justify !important; } }

@media (min-width: 1200px) {
  .lg-text-left {
    text-align: left !important; }
  .lg-text-right {
    text-align: right !important; }
  .lg-text-center {
    text-align: center !important; }
  .lg-text-justify {
    text-align: justify !important; } }

@media (min-width: 0px) {
  .xs-hide {
    display: none !important; }
  .xs-block {
    display: block !important; }
  .xs-inline {
    display: inline !important; }
  .xs-inline-block {
    display: inline-block !important; }
  .xs-flex {
    display: flex !important; } }

@media (min-width: 767px) {
  .sm-hide {
    display: none !important; }
  .sm-block {
    display: block !important; }
  .sm-inline {
    display: inline !important; }
  .sm-inline-block {
    display: inline-block !important; }
  .sm-flex {
    display: flex !important; } }

@media (min-width: 992px) {
  .md-hide {
    display: none !important; }
  .md-block {
    display: block !important; }
  .md-inline {
    display: inline !important; }
  .md-inline-block {
    display: inline-block !important; }
  .md-flex {
    display: flex !important; } }

@media (min-width: 1200px) {
  .lg-hide {
    display: none !important; }
  .lg-block {
    display: block !important; }
  .lg-inline {
    display: inline !important; }
  .lg-inline-block {
    display: inline-block !important; }
  .lg-flex {
    display: flex !important; } }
